* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
nav {
  padding: 10px;
}

nav .navbar-toggler {
  border: none;
}

nav .ima {
  height: 100px;
}

nav .searcH .form-control {
  width: 300px;
  padding: 10px;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 3px 0px #fbfbfb;
  -moz-box-shadow: inset 0px 0px 3px 0px #fbfbfb;
  box-shadow: inset 0px 0px 3px 0px #fbfbfb;
}

nav .useR a {
  margin: 10px;
}

nav .useR ion-icon {
  font-size: 24px;
}

nav .navBawah {
  list-style-type: none;
  margin: auto;
  padding: auto;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

nav .navBawah a {
  font-size: 18px;
}

/* nav .flex-column {
} */

.bawahBTN {
  margin: auto;
  padding: 15px;
  font-size: 16px;
  border: none;
  background-color: white;
}

.dropdown {
  font-family: "Gill Sans Nova", sans-serif;
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-content a {
  font-size: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: snow;
  border: 2px solid black;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translate(-25%, 0) !important;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-decoration: none;
}

.dropdown-content .col {
  text-align: left;
  width: 150px;
}

.dropdown-content .rowJud .col p {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}

.dropdown-content .rowCon .col {
  margin-bottom: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: max-content;
}

.dropdown:hover .bawahBTN {
  background-color: black;
  color: white;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.icnstore:hover {
  color: #ff5653;
}

.icnuser:hover {
  color: #f9df68;
}

.icncart:hover {
  color: #054eac;
}
/* End Navbar */

.card-login {
  justify-content: center;
}

.cn-logo {
  position: relative;
  text-align: center;
}

.cn-logo .bottom-centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Carousel Promo */
#carouselPromo .carousel-item {
  height: 500px;
}

#carouselPromo .carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 500px;
}

.producT {
  margin: 5px;
}

.producT img {
  height: auto;
  width: auto;
}

.producT p {
  height: auto;
  width: auto;
  font-size: 14px;
  text-align: justify;
}

.producT img {
  animation-duration: 5s;
}

.producT p {
  animation-duration: 8s;
}

/* End Product Table Design */

/* Footer */
.foobawah {
  padding: 20px;
  background-color: #333;
}

.foobawah .row {
  justify-content: center;
  padding-top: 15px;
}

.foobawah .col-sm {
  text-align: center;
}

.foobawah .col-sm .flex-row a {
  padding: auto;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

.foobawah .col-sm .flex-row a:hover {
  opacity: 5;
  color: rgb(156, 156, 156);
}

.foobawah hr {
  display: block;
  height: 1px;
  border-top: 1px solid #ccc;
}

.foobawah .copyright a {
  color: white;
  transition: all 0.5s ease-in-out;
}
/* End Footer */

/* Page Login */
form .row .col {
  padding: auto;
}
/* End Page Login */

/* Page Contact */
.conContact {
  text-align: center;
}

.conContact .row .col img {
  height: 400px;
  width: 400px;
}

.conContact .row .col {
  padding: auto;
  margin: auto;
}
/* End Page Contact */

/* Page MarketPlace */
.marketPlace .container-fluid {
  margin: 50px auto;
  padding: auto;
}

.marketPlace .container-fluid .flex-row {
  text-align: center;
  margin: 20px;
  padding: auto;
}

.marketPlace .container-fluid img {
  border-radius: 1px 20px 1px;
  margin: 10px;
  height: 200px;
}

.marketPlace .tokped:hover {
  border: 5px solid #60bb55;
}

.marketPlace .shopee:hover {
  border: 5px solid #f1582c;
}

.marketPlace .blibli:hover {
  border: 5px solid #21b3ec;
}

.marketPlace .lazada:hover {
  border: 5px solid #112384;
}

.marketPlace .bukala:hover {
  border: 5px solid #e4094d;
}
/* End Page MarketPlace  */

/* Page Forget Password */
.forgetPass .text-field {
  position: relative;
  margin: 10px 2.5px 20px 2.5px;
}

.forgetPass .forgetInp {
  width: 100%;
  display: inline-block;
  border: thin solid #fafafa;
  border-bottom: solid medium #999;
  color: #444;
  background-color: #fafafa;
  padding: 10px 10px 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.forgetPass .forgetInp:focus {
  border: thin solid #32cd32;
  border-bottom: solid medium #32cd32;
  background-color: #fff;
}

.forgetPass label {
  color: #999;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.5s;
}

.forgetPass .forgetInp:focus ~ label,
.forgetInp:valid ~ label {
  top: -10px;
  left: 15px;
  font-size: small;
  color: #32cd32;
  background-color: #fff;
  padding: 0 5px 0 5px;
}
/* End Page Forget Password */

/* Page Shop */
.shopContent ul {
  list-style-type: none;
  text-decoration: none;
}

.shopContent .card {
  border: none;
}

.shopContent .card-header {
  background-color: white;
  border-bottom: none;
}

.shopContent .collapse {
  border-top: none;
  padding-left: 20px;
}

.shopContent .card-body {
  margin: 0px !important;
}

.shopContent .card-body ul li {
  margin-top: 0px;
  margin-bottom: 5px;
}

.shopContent .searchData {
  min-width: 0px;
  min-height: 0px;
  width: 100%;
}

/* Menghilangkan Increase Decrease Value Input Box Filter Harga */
/* Harga Minimum */
.shopContent .priceFilterMin::-webkit-outer-spin-button,
.priceFilterMin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Harga Maksimum */
.shopContent .priceFilterMax::-webkit-outer-spin-button,
.priceFilterMax::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopContent .price {
  min-width: 0px;
  min-height: 0px;
  width: 250px;
}
/* End Page Shop */
