* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  /* background-image: url(../images/Nav1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center; */
  color: #444;
  background-color: #f2f1ed;
}
/* Navbar */
nav {
  padding: auto;
  background-color: transparent;
}

nav .navbar-header {
  display: flex;
}

/* nav .sidebar a {
  color: whitesmoke;
  font-size: 20px;
} */

/* nav .sidebar a:hover {
  text-decoration: none;
} */

/* nav .navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
} */

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: whitesmoke;
  font-size: 20px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.sidebar a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar li a {
  list-style-type: none;
  color: #d3d3d3;
  margin-left: 25px;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.navbar-header .opennavBtn {
  font-size: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.navbar-header .opennavBtn:active,
.opennavBtn:focus {
  outline-style: none;
  outline: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

nav .ima {
  height: 80px;
}

/* nav .searcH .form-control {
  width: 300px;
  padding: 10px;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 3px 0px #fbfbfb;
  -moz-box-shadow: inset 0px 0px 3px 0px #fbfbfb;
  box-shadow: inset 0px 0px 3px 0px #fbfbfb;
} */

nav .useR a {
  margin: 10px;
  color: rgb(156, 156, 156);
}

nav .useR ion-icon {
  font-size: 24px;
}

/* nav .navBawah {
  list-style-type: none;
  margin: auto;
  padding: auto;
}

nav .navBawah a {
  font-size: 18px;
} */

/* nav .flex-column {
} */

/* .bawahBTN {
  margin: auto;
  padding: 15px;
  font-size: 16px;
  border: none;
  background-color: white;
}

.dropdown {
  font-family: "Gill Sans Nova", sans-serif;
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-content a {
  font-size: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: snow;
  border: 2px solid black;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translate(-25%, 0) !important;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-decoration: none;
}

.dropdown-content .col {
  text-align: left;
  width: 150px;
}

.dropdown-content .rowJud .col p {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}

.dropdown-content .rowCon .col {
  margin-bottom: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
  width: max-content;
}

.dropdown:hover .bawahBTN {
  background-color: black;
  color: white;
} */

.icnstore:hover {
  color: #ff5653;
}

.icnuser:hover {
  color: #f9df68;
}

.icncart:hover {
  color: #054eac;
}
/* End Navbar */

.card-login {
  justify-content: center;
}

.cn-logo {
  position: relative;
  text-align: center;
}

.cn-logo .bottom-centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Carousel Promo */
#carouselPromo {
  box-shadow: 0 8px 15px -5px black;
}

#carouselPromo .carousel-item {
  height: 500px;
}

#carouselPromo .carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 500px;
  -webkit-animation: fadein 5s;
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .producT {
  margin: 5px;
}

.producT img {
  height: auto;
  width: auto;
}

.producT p {
  height: auto;
  width: auto;
  font-size: 14px;
  text-align: justify;
}

.producT img {
  animation-duration: 5s;
}

.producT p {
  animation-duration: 8s;
} */
/* Product */
.producT a img {
  width: 250px;
  transition: transform 2s;
}

.producT a img:hover {
  transform: scale(1.1);
}

.producT section .btn {
  padding: 5px 5px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  background: #f00;
  background: linear-gradient(
    to right,
    #f8b3b5 0%,
    #f8b3b5 50%,
    #ffffff 50%,
    #ffffff 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  border: none;
  transition: background-position 0.9s;
}

.producT section .btn:hover {
  background-position: 0 0;
}
/* End Product */

/* Brand Page */
.brandPage .jumbotron {
  height: 20rem;
  background-image: url(../images/Jumbotron1.jpg);
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: cover;
  box-shadow: 0 8px 15px -5px black;
}

/* End Brand Page */

/* Brand Product Page */
.brandContent .container {
  position: relative;
  width: fit-content;
  padding: 0px;
  box-shadow: 2px 2px 5px paleturquoise;
  border-radius: 5px;
}

.brandContent .image {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.brandContent .overlayBranPro {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  overflow: hidden;
  width: 200px;
  height: 0;
  transition: 0.5s ease;
  border-radius: 5px;
}

.brandContent .container:hover .overlayBranPro {
  height: 100%;
}

.brandContent h5,
p {
  color: #5aaf4c;
  margin-top: 25px;
}

.brandContent p {
  margin-bottom: 2px;
}

/* .brandContent .quanBox {
  margin: auto;
  background-color: whitesmoke;
  border: 1px solid grey;
  width: max-content;
  border-radius: 0.25rem;
}

.brandContent .quantity {
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  width: min-content;
  justify-content: center;
  text-align: center;
  width: 4rem;
}

.brandContent .minus:focus,
.plus:focus,
.quantity:focus {
  outline: none;
}

.brandContent .quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.brandContent .rowaddCart {
  justify-content: center;
}

/* .brandContent .rowaddCart .table-responsive {
  margin-top: 1rem;
}

.brandContent .table {
  margin-bottom: 0;
} */

.brandContent .rowaddCart .btn-sm {
  color: whitesmoke;
  margin-top: 1rem;
}

/* End Brand Product Page */

/* Footer */
.foobawah {
  padding: 20px;
  background-color: transparent;
}

.foobawah .row {
  justify-content: center;
  padding-top: 15px;
}

.foobawah .col-sm {
  text-align: center;
}

.foobawah p {
  color: rgb(156, 156, 156);
}

.foobawah .col-sm .flex-row a {
  padding: auto;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  color: rgb(156, 156, 156);
}

/* .foobawah .col-sm .flex-row a:hover {
  opacity: 5;
  color: rgb(156, 156, 156);
} */

.foobawah hr {
  display: block;
  height: 1px;
  border-top: 1px solid #ccc;
}

.foobawah .copyright a {
  color: rgb(156, 156, 156);
  transition: all 0.5s ease-in-out;
}
/* End Footer */

/* Page Login */
form .row .col {
  padding: auto;
}
/* End Page Login */

/* Page Contact */
.conContact {
  text-align: center;
}

.conContact .row .col img {
  height: 400px;
  width: 400px;
}

.conContact .row .col {
  padding: auto;
  margin: auto;
}
/* End Page Contact */

/* Page MarketPlace */
.marketPlace .container-fluid {
  margin: 50px auto;
  padding: auto;
}

.marketPlace .container-fluid .flex-row {
  text-align: center;
  margin: 20px;
  padding: auto;
}

.marketPlace .container-fluid img {
  border-radius: 1px 20px 1px;
  margin: 10px;
  height: 200px;
}

.marketPlace .tokped:hover {
  border: 5px solid #60bb55;
}

.marketPlace .shopee:hover {
  border: 5px solid #f1582c;
}

.marketPlace .blibli:hover {
  border: 5px solid #21b3ec;
}

.marketPlace .lazada:hover {
  border: 5px solid #112384;
}

.marketPlace .bukala:hover {
  border: 5px solid #e4094d;
}
/* End Page MarketPlace  */

/* Page Forget Password */
.forgetPass {
  background-color: #f2f1ed;
}

.forgetPass .text-field {
  position: relative;
  margin: 10px 2.5px 20px 2.5px;
}

.forgetPass .forgetInp {
  width: 100%;
  display: inline-block;
  border: thin solid #fafafa;
  border-bottom: solid medium #999;
  color: #444;
  background-color: #fafafa;
  padding: 10px 10px 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.forgetPass .forgetInp:focus,
.forgetInp:active {
  outline: none;
  border: thin solid #32cd32;
  border-bottom: solid medium #32cd32;
  background-color: #fff;
}

.forgetPass label {
  color: #999;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.5s;
}

.forgetPass .forgetInp:focus ~ label,
.forgetInp:valid ~ label {
  top: -10px;
  left: 15px;
  font-size: small;
  color: #32cd32;
  background-color: #fff;
  padding: 0 5px 0 5px;
}
/* End Page Forget Password */

/* Login Page */
.loGin {
  background-color: #f2f1ed;
}

.loGin .form-control:focus {
  box-shadow: none !important;
}

.loGin input {
  font-size: 18px;
}
/* End Login Page */

/* Register Page */
.regisTer {
  background-color: #f2f1ed;
}

.regisTer .form-control:focus {
  box-shadow: none !important;
}
/* End Register Page */

/* Page Shop */
.shopContent ul {
  list-style-type: none;
  text-decoration: none;
}

.shopContent .card {
  border: none;
}

.shopContent .card-header {
  background-color: white;
  border-bottom: none;
}

.shopContent .categories .collapse {
  border-top: none;
  padding-left: 20px;
}

.shopContent .card-body {
  margin: 0px !important;
}

.shopContent .card-body ul li {
  margin-top: 0px;
  margin-bottom: 5px;
}

.shopContent .searchData {
  min-width: 0px;
  min-height: 0px;
  width: 100%;
}

/* Menghilangkan Increase Decrease Value Input Box Filter Harga */
/* Harga Minimum */
.shopContent .priceFilterMin::-webkit-outer-spin-button,
.priceFilterMin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Harga Maksimum */
.shopContent .priceFilterMax::-webkit-outer-spin-button,
.priceFilterMax::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopContent .price {
  min-width: 0px;
  min-height: 0px;
  width: 250px;
}

.shopContent .isiProduct .btn-primary,
.btn-light {
  box-shadow: 1px 1px #888888;
  margin-bottom: 10px;
}

.shopContent .shw {
  border-radius: 5px;
}
/* End Page Shop */

/* Page ShopDetail */
.shopDetail .quanBox {
  border: 1px solid grey;
  width: max-content;
  border-radius: 0.25rem;
}

/* Plus dan Minus untuk Page shopdetail & shopcart */
.plus {
  background-color: transparent !important;
  border: none !important;
  width: 2rem;
  justify-content: center;
}

.minus {
  background-color: transparent !important;
  border: none !important;
  width: 2rem;
  justify-content: center;
}
/* End Plus dan Minus */

.shopDetail .quantity {
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  width: min-content;
  justify-content: center;
  text-align: center;
  width: 4rem;
}

.shopDetail .minus:focus,
.plus:focus,
.quantity:focus {
  outline: none;
}

.shopDetail .quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopDetail .btn .customcart {
  box-shadow: 1px 1px #888888;
}
/* End Page ShopDetail */

/* Page Shop Cart */
.shopCart,
.shopContent .view {
  position: relative;
  overflow: hidden;
  cursor: default;
}

.shopCart .justify-content-between {
  justify-content: space-between !important;
}

.shopCart .text-muted {
  color: #6c757d !important;
}

.shopCart .quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopCart .quanBox {
  border: 1px solid grey;
  width: fit-content;
  border-radius: 0.25rem;
}

.shopCart .quantity {
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  width: min-content;
  justify-content: center;
  text-align: center;
  width: 4rem;
}

.shopCart .card-link {
  color: black;
  font-size: small;
  font-weight: 300;
}

.shopCart .hargaCart {
  color: black;
  font-size: small;
  font-weight: 300;
}

.shopCart .n-border {
  border: 0 !important;
}

.shopCart .promoForm a {
  text-decoration: none;
  color: black;
}

/* .shopCart .css-li-shopcart {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
} */
/* End Shop Cart Page */

.align-items-center {
  align-items: center !important;
}

/* Shop Cart Info Page */
.shopCartInfo .colCard {
  justify-content: center;
  margin: auto;
}

.shopCartInfo .card {
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
}

.shopCartInfo {
  font-size: 13px;
}

.shopCartInfo .n-border {
  border: 0 !important;
}

.shopCartInfo .promoForm a {
  text-decoration: none;
  color: black;
}

.shopCartInfo .formPayment {
  display: inline-block;
  padding: 0px;
  text-align: center;
}

.shopCartInfo .formPayment img {
  display: block;
}

.shopCartInfo .phoneNumber::-webkit-inner-spin-button,
.phoneNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* End Shop Cart Info Page */

/* About Us Page */
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.abtus h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

.abtus p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.abtus .header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: white;
}

.abtus .inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.abtus .header .row {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.abtus .waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.abtus .container {
  position: relative;
  width: 50%;
}

.abtus .icons {
  font-size: 64px;
  display: block;
  width: 100%;
  fill: white;
}

/* .abtus .icons {
  font-size: 64px;
  width: 50px;
  fill: white;
  display: inline-block;
  vertical-align: middle;
} */

.abtus .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.abtus .container:hover .overlay {
  bottom: -100%;
  height: 100%;
}

.abtus .text {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Animation */

.abtus .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.abtus .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.abtus .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.abtus .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.abtus .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .abtus h1 {
    font-size: 24px;
  }
  .abtus .text {
    font-size: 12px;
  }
}
/* End About Us Page */

/* Profile Page */

/* End Profile Page */
