* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
nav {
  margin-left: 10px;
  margin-right: 10px;
}

nav .navAtas {
  border-bottom: 2px solid #000;
}

nav .ima {
  height: 100px;
}

nav .searcH .form-control {
  width: 400px;
  padding: 10px;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 3px 0px #fbfbfb;
  -moz-box-shadow: inset 0px 0px 3px 0px #fbfbfb;
  box-shadow: inset 0px 0px 3px 0px #fbfbfb;
}

nav .useR a {
  margin: 10px;
}

nav .navBawah {
  list-style-type: none;
  margin: auto;
  padding: auto;
  border-bottom: 2px solid #000;
}

nav .navBawah a {
  font-size: 18px;
}

.dropbtn {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-content a {
  font-size: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: snow;
  border: 1px solid black;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
  color: white;
}
/* End Navbar */

.card-login {
  justify-content: center;
}

.cn-logo {
  position: relative;
  text-align: center;
}

.cn-logo .bottom-centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Carousel Promo */
#carouselPromo .carousel-item {
  height: 500px;
}

#carouselPromo .carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 500px;
}

/* Carousel Product */
/* .conPro {
  margin: 5px;
  padding: 5px;
  background-color: #fffafa;
}

.conPro .card {
  border: none;
}

.conPro .card:hover {
  transform: scale(0.95);
}

.conPro .row .col {
  text-align: center;
  justify-content: center;
}

.cPro .carousel-control {
  font-size: 20px;
  width: 20px;
}

.cPro .carousel-control-next-icon:after {
  content: ">";
  color: black;
}

.cPro .carousel-control-prev-icon:after {
  content: "<";
  color: black;
} */
/* End Carousel Product */

/* Product Table Design */
.producT img {
  height: auto;
  width: auto;
}

.producT p {
  height: auto;
  width: auto;
  font-size: 14px;
  text-align: justify;
}
/* End Product Table Design */

/* Footer */
.foobawah {
  padding: 20px;
  background-color: #20b2aa;
}

.foobawah ul {
  list-style-type: none;
  justify-content: center;
  text-align: left;
}

.foobawah ul .title {
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
}

.foobawah ul a {
  color: white;
}
/* End Footer */
